<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goingdutch">

    <application
        android:allowBackup="true"
        android:icon="@drawable/goingdutchlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main"></activity>
        <activity android:name=".Setting" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Result" />
        <activity
            android:name=".Add"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Random" />
        <activity android:name=".Percent" />
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainFree" />
    </application>

</manifest>